*.log
pg_stat_activity*.csv
*.py[cod]
*.mo
__pycache__

.ipynb_checkpoints/
*.ipynb
i18n/js_code.pot
i18n/js_hbs.pot
.DS_Store

# jetbrains
.idea
atlassian-ide-plugin.xml

# sublime
*.sublime-project
*.sublime-workspace
sftp-config.json

venv
.venv
.cache
build
local.mk

settings.local.yaml
settings.tests.yaml

dist/
docs/_build


tags
coverage
.coverage
.coverage*
htmlcov
cover
.coverage*

# Docker
.docker
docker-compose.yaml

run/
celerybeat-schedule
/pre-commit-hook.sh
/.editorconfig

# Profiling
*.prof

logs/
